

{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
         {% load staticfiles %}
        <img src="{% static 'app/images/login.svg' %}" style="width: 31px; margin-top: 10px;" />
        <li><span class="navbar-brand">Wilkommen {{ user.username }}!</span></li>
        <li><a href="{% url 'logout' %}">Log off</a></li>
    </ul>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <img src="{% static 'app/images/login.svg' %}" style="width: 31px; margin-top: 10px;" />
    <li><span class="navbar-brand">You have been logged out!</span></li>
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>
</form>

{% endif %}
